.AddFoodItemButton {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top:10px;
  }
  
  .AddFoodItemButton:hover {
    background-color: #45a049; 
  }
  
  .AddFoodItemButton::before {
    content: "+"; 
    margin-right: 5px;
  }
  