.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    overflow: auto;
    WebkitOverflowScrolling: 'touch';
    borderRadius: '4px';
    outline: 'none';
    padding: '20px';
  }
  
  /* The overlay is what covers the rest of the screen */
  .Overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backgroundColor: 'rgba(255, 255, 255, 0.75)';
  }
  