.mealTable {
  background: #FFFFFF;
  border-radius: 8px;
  margin: 20px auto;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:75%;
}

.mealTable h2 {
  color: #4CAF50;
  margin-bottom: 1rem;
}

.mealTable ul {
  list-style: none;
  padding: 0;
}

.mealTable li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.mealTable li span {
  margin-right: 10px; /* Adjust as needed */
}

.mealTable .editButton,
.mealTable .removeButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px; /* Adjust button padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
  margin:0;
}

.mealTable .removeButton {
  background-color: #f44336; /* Red */
}

.mealTable .buttonContainer {
  display: flex;
  gap: 10px; /* This sets the space between the buttons */
}